.showcaseSet {
  animation: our-work-showcase-vertical 40s linear infinite;
}

@keyframes our-work-showcase-vertical {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes our-work-showcase-horizontal {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 991px) {
  .showcaseSet {
    animation-name: our-work-showcase-horizontal;
  }
}
